/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

header {
  background-color: #FFA593;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

header nav {
  flex-grow: 1;
}

header nav ul {    
  margin:0; padding:0;
  list-style:none;
  display:flex; 
}

header nav li {
  flex-grow: 1;
  min-width: 6em;
}

header nav a {
  color:white;
  text-decoration:none;
  outline:none;
  display:block;
  line-height:3.5em;
  text-align: center;
}