* {
  box-sizing: border-box;
  }
  
  body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  
  }
  
  h1 {
  font-size: 24px;
  color: #FFA593;
  font-weight: 400;
  text-align: center;
  }
  
  p {
  font-weight: 400;
  font-style: normal;
  line-height:1.6;
  color: #FFA593;
  font-size: 16px;
  }
  
  /*HEADER */
  header {
  background-color: #ffd764;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  }
  
  header section {
  margin:30px;
  }
  
  .logo {
  float: left;
  margin: 15px 0;
  height:180px;
  width: 400px;
  }
  
  .shopping-cart-header {
  background-color: #ffa593;
  margin: 20px;
  padding: 15px;
  color: white;
  text-decoration: none;
  }
  
  .search-bar {
  padding: 19px;
  background-color: #ffa593;
  border: none;
  outline: none;
  }

  .search-bar::placeholder {
    color:white;
  }
  
  input.search-bar {
    color: white;
  }

  .shopping-cart {
  display: none;
  }
  
  nav {
  height: 100%;
  background-color: #FFA593;
  line-height: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  }
  
  nav ul {
  display: flex;
  list-style:none;
  padding: 0;
  }
  
  nav li {
  margin: 20px;
  }
  
  nav li a {
  color: white;
  text-decoration:none;
  outline:none;
  }
  
  nav input, label {
  display: none;
  color: white;
  }

  /* Dropdown Button */
  .features-dropdown {
    display: block;
    position: absolute;
    opacity: 0;
    background-color: #fff;
    padding: 10px;
    color: #333;
    transition: .3s ease-in-out;
    box-shadow: 1px 3px 3px #D9D9D9;
    border-radius: 4px;
  }
  
  .features-dropdown.on {
    position: absolute;
    opacity: 1;
    background-color: #fff;
    padding: 10px;
    color: #333;
  }
  
  .features-dropdown li {
    margin-top: 10px;
  }
  
  /* MAIN */
  .wrapper {
  display: flex;
  flex-direction: column;
  
  height: 100%;
  margin: 0 25em 0 25em;
  }
  
  main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
  'title-1'
  'coming-soon'
  'title-2'
  'holding-container'
  'title-3'
  'shop-for-container'
  'newsletter'
  'title-4'
  'about-clammy';
  }
  
  /* COMING SOON */
  
  .coming-soon {
  border-bottom: 1px solid #FFA593;
  }
  
  .title-1 {
  display: flex;
  float: left;
  }
  
  /* PRODUCTS */
  
  .title-2 {
  display: flex;
  justify-content: space-between;
  float: left;
  }

  .title-2 a {
    text-decoration: none;
    color: #FFA593;
  }

  .title-2 a:hover {
    opacity: 0.5;
  }
  
  .holding-container {
  grid-area: holding-container;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1em;
  border-bottom: 1px solid #FFA593;
  }
  
  .internalcontainer {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  }
  
  .internalcontainer img {
  width: 100%;
  }
  
  .internalcontainer:hover img {
  cursor: pointer;
  opacity: 0.8;
  /*color: rgba(255,165,147, 1.5);*/
  }
  
  /* SHOP FOR */
  
  .title-3 {
  display: flex;
  float: left;
  }
  .shop-for-container {
  grid-area: shop-for-container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 1em;
  
  border-bottom: 1px solid #FFA593;
  }
  
  .shop-for {
  display: flex;
  flex-direction: column;
  
  margin: 1em;
  border: 1px solid #FFA593;
  background-color: beige;
  }
  
  .shop-for img {
  width: 100%;
  }
  
  .shop-for p {
  text-align: center;
  }
  
  /*NEWSLETTER*/
  
  .newsletter {
  grid-area: newsletter;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  text-align: center;
  
  border-bottom: 1px solid #FFA593;
  }
  
  .newsletter form {
  display: table;
  margin: 0 0 5em 0;
  }
  
  .newsletter-header {
  margin: 1em 0 0 0;
  font-size: 25px;
  color: #FFA593;
  }
  
  .input-group-field {
  border: 1px solid #ffa593;
  background-color: rgba(255,165,147,0.2);
  outline: none;
  font-size: 15px;
  
  width: 300px;
  height:40px;
  
  }
  
  #submit {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  background-color: #FFA593;
  color: white;
  
  height: 45px;
  }
  
  /* ABOUT CLAMMY */
  
  .title-4 {
  display: flex;
  float: left;
  }
  
  
  /* FOOTER */
  
  footer {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
  background-color: #ffd764;
  border-top: 1px solid #FFA593;
  }

  footer section{
    color:white;
  }

  footer ul {
    list-style:none;
    padding: 0;
  }

  footer a, footer p{
    color: white;
    text-decoration: none;
  }

  footer a:hover {
    font-size: 20px;
  }

  
  @media only screen and (max-width: 1400px) {
  .wrapper {
  margin: 5em;
  }
  
  .holding-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1em;
  width: 100%;
  }
  }
  
  @media only screen and (max-width: 820px) {
  .wrapper {
  margin: 1em;
  }
  
  header {
  align-items: center;
  flex-direction: column;
  }
  
  .shopping-cart-header {
  display: none;
  }
  
  .search-bar {
  display: none;
  }
  }
  
  @media only screen and (max-width: 768px) {
  
  .wrapper {
  margin: 1em;
  padding: 0;
  }
  
  header .mobile {
  display: flex;
  width: 100%;
  }
  
  header .website {
  display: none;
  }
  .shopping-cart {
  display: flex;
  background-color: #ffa593;
  color: white;
  text-decoration: none;
  }
  
  nav {
  position: sticky;
  top: 0;

  background-color: #FFA593;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  }
  
  nav label {
  display: block;
  font-size: 1.5em;
  line-height: 1em;
  cursor: pointer;
  }
  
  nav ul {
  display: flex;
  flex-direction: column;
  transform:translateX(-100em);
  opacity: 0;
  transition: 0.5s;
  padding: 0;
  }

  nav a:hover {
    font-size: 20px;
  }
  
  
  #toggle:checked + ul {
  transform:translateX(0);
  opacity: 100;
  }
  
  .nav-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFA593;
  }

  
  .holding-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1em;
  width: 100%;
  }
  
  .shop-for-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  }

  footer {
    display: block;
  }

  footer section{
    text-align: center;
  }

  }